.btn {
  background-color: $mainBlue;
  color: #FFF;              /* white */
  text-decoration: none;    /* remove the underline */
  padding: .75rem 1.05rem;  /* .75 vert   1.05 horiz */
  display: inline-block;    /* tell parent & surrounding elements about its needs for padding */

  &--orange {               /* underscores and dashes must match the html file */
     background-color: $mainOrange;
  }

  &--wider {
    padding: 1.1rem 1.5rem;  /* vert horiz */

    @mixin atSmall {
      font-size: 1.15rem;
    }
  }

}

