.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;            /* 100% see-through */
  visibility: hidden;    /* not visible. not accessible. */
  transform: scale(1.4);
  transition: all .3s ease-out;

  &--is-visible {
    visibility: visible;     /* completely visible */
    opacity: 1;              /* zero % see through */
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); /* the item's own height */

  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.3rem;
    transform: scaleX(1.5);
    transform-origin: 100% 0;
    color: $mainBlue;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }

}
